a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}


body {
    font-family: Arial, sans-serif;
    color: #fff;
    text-align: center;
    padding: 20px;
    background-color: #000;
}

img {
    max-width: 100%; 
    height: auto;
    padding-top: 24px;
    padding-bottom: 24px;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
}

.btn-language-switch {
    background-color: #000;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.04em;
    cursor: pointer;
    min-width: auto;
    height: auto;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-language-switch:hover {
    background-color: #ff0000;
    text-decoration: underline;
}

.btn-language-switch:focus {
    background-color: #ff0000;
    text-decoration: underline;
}

.sm-list {
    display: inline-flex;
}

.sm-icons {
    border-radius: 40%;
    background-color: #fff;
    fill: #000;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;    
    margin-inline: 6px;
    margin-top: 24px;
    margin-bottom: 24px;
    padding: 8px;
    cursor: pointer;
}

.sm-icons:hover {
    background-color: #f00;
    color: #000;
}

.sm-icons:focus {
    background-color: #f00;
    color: #000;
}


.header-menu-list-first {
    display: block;
    align-items: center;
}

.header-menu-list-one-item {
    padding: 24px;
}

.header-menu-list-two-item {
    padding: 24px;
}

.header-menu-list-two-item:hover {
    background-color: #ff0000;
    text-decoration: underline;
    border-radius: 4px;
}

.header-menu-list-two-item:focus {
    background-color: #ff0000;
    text-decoration: underline;
    border-radius: 4px;
}
  
.header-menu-link {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.04em;
    cursor: pointer;
    min-width: auto;
    height: auto;
    border: 0;
    border-radius: 4px;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
}
  
.header-menu-link:focus,
.header-menu-link:hover {
    color: #fff;
    background-color: #f00;
    text-decoration: underline;
}

/* .email {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
  
.phone {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}  */


.header-menu-list-one {
    background-color: #000;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.04em;
    cursor: pointer;
    min-width: auto;
    height: auto;
    border: 0;
    border-radius: 4px;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    margin-inline: 75px;
}

.header-menu-list-one-item:hover {
    background-color: #ff0000;
    text-decoration: underline;
    border-radius: 4px;
}

.header-menu-list-one-item:focus {
    background-color: #ff0000;
    text-decoration: underline;
    border-radius: 4px;
}

.header-menu-list-two {
    background-color: #000;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.04em;
    cursor: pointer;
    min-width: auto;
    height: auto;
    border: 0;
    border-radius: 4px;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    margin-inline: 18px;
}

.header-menu-list-two-item:hover {
    background-color: #ff0000;
    text-decoration: underline;
    border-radius: 4px;
}

.header-menu-list-two-item:focus {
    background-color: #ff0000;
    text-decoration: underline;
    border-radius: 4px;
}

.hero {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}

.video-background {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

/* .footer-contacts {
    background-color: #2e2f42;
    display: flex;
    align-items: center;
    font-style: normal;
    margin: auto;
}

.logo-footer {
    margin: 18px;
    padding: 25px;
}

.footer-contacts-list {
    align-items: center;
    gap: 40px;
    padding: 24px;
} 

.footer-contacts-item {
    background-color: #000;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.04em;
    cursor: pointer;
    min-width: auto;
    height: auto;
    border: 0;
    border-radius: 4px;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    margin-inline: 18px;
}

.footer-contacts-link {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.04em;
    cursor: pointer;
    min-width: auto;
    height: auto;
    border: 0;
    border-radius: 4px;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    margin-inline: 18px;
}

.footer-contacts-item:hover {
    text-decoration: underline;
    border-radius: 4px;
}

.footer-contacts-item:focus {
    text-decoration: underline;
    border-radius: 4px;
}  */
